
* {
    font-family: playFair Display;
}

h3 {
    font-weight: 200
}

.project-title {
    font-weight: 500;
}

h4 {
    font-weight: 200;
}

#profile-pic {
    height: 400px
}

.pomo-caption {
    color: white !important
}

.info {
    padding-left: 30px;
}

